*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: black;
    color: #FFFF;
    padding: 1rem 1.5rem;
}

#nav{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 2rem;
    align-items: center;
}

#inicio{
    background-image:linear-gradient( rgba(239, 229, 207, 0.85),
    rgba(222, 222, 204, 0.85)), url('../img/Image-header.png');
    height: 400px;
    padding: 1.5rem;
    background-size: cover;
    background-position: center;
}

#inicio h2{
    font-size: 2.3rem;
    margin-top: 6rem;
}

#inicio h3{
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#inicio p{
    font-size: 1.3rem;
    margin-top: 1rem;
}

.cont-pratos{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 3rem;
}

.pacote{
    /* display: flex; */
    flex: 1;
    flex-wrap: wrap;
    min-width: 260px;
    max-width: 500px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
}

.image{
    height: 200px;
    background-color: rgb(165, 154, 154);
}